<p id="notice"><%= notice %></p>

<h1>Notebooks</h1>

<div class='container'>
	<div class='row'>
	<% @notebooks.each do |notebook| %>
		<div class='col-md-3 m-4 p-3 notebook'>
			<div class='row justify-content-md-center notebook-title'>
				<%= notebook.title %>
			</div>
			<div class='row notebook-description'>
				<%= notebook.description %>
			</div>
			<div class='row'>
				<div class='col-sm-4 act'>
					<%= link_to image_pack_tag('book-open.svg'), notebook %>
				</div>
				<div class='col-sm-4 act'>
					<%= link_to image_pack_tag('edit.svg'), edit_notebook_path(notebook) %>
				</div>
				<div class='col-sm-4 act'>
					<%= link_to image_pack_tag('trash-2.svg'), notebook, method: :delete, data: { confirm: 'Yeah?' } %>
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>
<%= link_to 'New Notebook', new_notebook_path %>
