<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %><br>
<% @posts.each do |post| %> <%= link_to edit_post_path(post) do %>
	<div class='container rounded post mb-5'>
		<div class='row'>
			<div class='col-md-8 post-title'><%= post.post_header.html_safe %></div>
			<div class='col-md-4 pub-date'><%= post.sani_date %></div>
		</div>
		<div class='row justify-content-md-center'>
			<div class='col-md-auto'><%= post.content %></div>
		</div>
	
		<% unless post.enclosure == nil %>
		<div class='row'>
			<div class='col enclosure'><%= link_to "Audio", post.enclosure %></div>
		</div>
		<% end %>
	</div>
	<% end %> 
<% end %> 
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
