<p id="notice"><%= notice %></p>

<p>
  <strong>Notebook:</strong>
  <%= @post.notebook_title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>


<p>
  <strong>Enclosure:</strong>
  <%= @post.enclosure %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'New Post',  new_post_path %>
